*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* PAGE SECTIONS */
body{
  color: #444;
  font-family: sans-serif;
  border-top: solid 10px #1098ad;
  position: relative;
}

.container{
  width: 1200px;
  margin: 0px auto;
  /* position: relative; */
}

aside{
  background-color: #f7f7f7;
  border-top: 5px solid #1098AD;
  border-bottom: 5px solid #1098AD;
  padding: 20px 40px;
}

nav {
  font-size: 18px;
  /* padding-bottom: 10px; */
  /* text-align: center; */
}

article{
  margin-bottom: 60px;
}

.main-header{
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  /* height: 80px; */
  
}

.post-header{
  margin-bottom: 40px;
}

h1, h2, h3{
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h2{
  font-size: 40px;
  margin-bottom: 30px;
}

h3{
 font-size: 30px;
  margin-bottom: 20px;
  margin-top:40px;
}

h4{
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

p{
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 50px;
}

ul,ol{
  margin-left: 50px;
  margin-bottom: 20px;
}

li{
  font-size: 22px;
  margin-bottom: 10px;
}

li:last-child{
  margin-bottom: 0px;
}

li:first-child{
  font-weight: bold;
}

li:last-child{
  font-style: italic;
}

li:nth-child(2){
  /* color: red; */
}


/* footer  p{
  font-size: 16px;
} */

/*
  ID Sections
*/
#author{
  font-style: italic;
  font-size: 18px;
}

#copyright{
  font-size: 16px;
}

.related-author{
  font-size: 18px;
  font-weight: bold;
}

.related{
  list-style: none;
  margin: 0px;
}

.related img{
  /* float: left; */
  /* margin-right: 10px; */
  box-shadow: black 2px 3px 3px;
  border-radius: 10px;
}

.related-author{
  clear: both;
}


/* 
  Styling links.
*/

a:link {
  color:#1098ad;
  text-decoration: none;
}

a:visited{
  color:#1098ad;
}

a:hover{
  color: orangered;
  font-weight: bold;
  text-decoration: underline  red;
}

a:active{
  background-color: black;
  font-style: italic;
}

/*
  Resolving Conflics
 */
 /* #copyright{
  color: red;
 } */
/* 
 .copyright{
  color: blue;
 }

 .text{
  color: yellow;
 }

 footer p{
   color: green;
 } */

 .post-image{
   width: 100%;
   height: auto;
 }

nav a:link{
  display:inline-block;
  margin-right: 30px;
  /* padding: 20px; */
} 
nav a:last-child{
  margin-right: 0px;
}

button{
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/*pseudo-elements*/
h1::first-letter{
  font-style: normal;
  margin-right: 5px;
}
div >p{

}
/* 
h2::first-letter{
  font-size: 60px;
} */

/* sibiling selector */
/* h3 + p::first-line{
  color:red;
} */

h2{
  position: relative;
}
/* adding a pseudo elemet with content*/
h2::before{
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  color: #444;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* FLOATS  */
/*
.aufloat: left;
  margin-bottom: 20px;
}thor-image{
  

.author{
  float: left;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top:10px;
}

h1{
  float: left;
}

nav{
  float: right;
}

.clear-float{
  clear: both;
}

.clearfix::after{
  clear: both;
  content: "";
  display: block;
}

article{
  float: left;
  width: 825px;
  border: solid red;
}

aside{
  float: right;
  width: 300px;
  border: solid green;
}

footer{
clear: both;
border: solid yellow;

}

*/

/* FLEXBOX */
.main-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-info{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 50px;
}
.author-info p{
  margin: 0;
}

#author{
  margin-left: 15px;
}

/* layout aside */

.related-post{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-post p{
  margin: 0px;
}

.related-author{
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.related-link:link{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.row{
  display: flex;
  align-items: flex-start;
  gap: 75px;
}
article{
  flex: 1;
  margin-bottom: 0px;
}

aside{
 /* align-self: start; */
  flex: 0 0 300px;
}

footer p {
  margin: 10px;
}